---
layout: default
---

<head>
	<title>My HTML Page</title>
	<style>
		.no-margin {
			margin: 0;
			white-space: nowrap;
		}
	</style>
</head>

<!-- ========== About ========== -->
<div class="docs-section" id="about">
  <h5>About</h5>

  Hello! I am a <b>Jakir Hasan</b>! Currently, I am working as an Adjunct Lecturer in the Computer Science and Engineering department at <b><a href="https://lus.ac.bd/">Leading University</a></b>. Previously I worked as a Software Engineer in the Research & Development (R&D) department at <b><a href="https://www.revesoft.com/">REVE Systems</a></b>, under the guidance of <b><a href="https://www.linkedin.com/in/amonlymd/">Maniruzzaman Monir</a></b>. I hold a B.Sc. degree from <b><a href="https://www.sust.edu/">Shahjalal University of Science and Technology</a></b>, where I had the privilege of being advised by <b><a href="https://www.sust.edu/departments/cse/faculty/rahmanms@sust.edu">Dr. Mohammad Shahidur Rahman</a></b>.
  <br><br>
  At REVE Systems, my work involves developing low-latency audio processing algorithms for <b>VoIP (Voice over IP)</b> applications and enhancing customer support through an <b>AI-powered voice bot</b> for the banking sector. Previously, I worked on developing a robust audio mixing algorithm, AI-based noise cancellation, acoustic echo and feedback loop cancellation, and <b>dynamic bitrate adaptation</b> based on network conditions.
  <br><br>
  I am passionate about building real-time, low-cost <b>AI-powered speech technologies</b> with profound societal impact. My recent work, <b><a href="https://aclanthology.org/2025.banglalp-1.4/">BanglaTalk</a></b>, introduces the first <b>real-time speech assistant</b> system for Bengali regional dialects, enhancing access to information for the diverse community of Bengali speakers worldwide.
  <br><br>
  My research focuses on enriching the low-resource Bengali language. I have contributed to projects including the development of a Bangla <b>neural lemmatizer</b>, <b>text-to-IPA transcription</b>, <b>automatic speech recognition (ASR)</b> for regional dialects, and <b>image classification</b>. You can also check out <b><a href="blog.html">my blog</a></b>.

</div>

<!-- ========== News ========== -->
<div class="docs-section">
  <h5>News</h5>
  <!-- Job -->
  <div class="row no-gutters">
    <div class="col-12 col-md-12 text-md-left">
      <b class="bbold" style="color:#fa8072;">Feb 2026</b>&nbsp;&nbsp;&nbsp;&nbsp;
      Joined Leading University as an Adjunct Lecturer in the Computer Science department! 
    </div>
  </div>

  <!-- BanglaIPA -->
  <div class="row no-gutters">
    <div class="col-12 col-md-12 text-md-left">
      <b class="bbold" style="color:#fa8072;">Jan 2026</b>&nbsp;&nbsp;&nbsp;&nbsp;
      Our paper <a href="https://aclanthology.org/2026.loreslm-1.12/">BanglaIPA</a> has been accepted in the LoResLM workshop, EACL 2026!
    </div>
  </div>

  <!-- BanglaTalk -->
  <div class="row no-gutters">
    <div class="col-12 col-md-12 text-md-left">
      <b class="bbold" style="color:#fa8072;">Nov 2025</b>&nbsp;&nbsp;&nbsp;&nbsp;
      Our paper <a href="https://aclanthology.org/2025.banglalp-1.4/">BanglaTalk</a> has been accepted in the BLP workshop, IJCNLP-AACL 2025!
    </div>
  </div>

  <!-- BanglaLem -->
  <div class="row no-gutters">
    <div class="col-12 col-md-12 text-md-left">
      <b class="bbold" style="color:#fa8072;">Apr 2025</b>&nbsp;&nbsp;&nbsp;&nbsp;
      Our journal paper <a href="https://www.sciencedirect.com/science/article/pii/S2772941925000626">BanglaLem</a> has been accepted in the Systems and Soft Computing, Elsevier Journal!
    </div>
  </div>

  <!-- G-RAG -->
  <div class="row no-gutters">
    <div class="col-12 col-md-12 text-md-left">
      <b class="bbold" style="color:#fa8072;">Nov 2024</b>&nbsp;&nbsp;&nbsp;&nbsp;
      Our paper <a href="https://arxiv.org/abs/2411.14592">G-RAG</a> has been accepted in the Muslims in ML workshop co-located with NeurIPS’24!
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-12 col-md-12 text-md-left">
      <b class="bbold" style="color:#fa8072;">July 2024</b>&nbsp;&nbsp;&nbsp;&nbsp;
      Completed the last semester of my undergrad with <b>GPA 3.97/4.00</b> from dept. of <a href="https://www.sust.edu/departments/cse">CSE, SUST</a>!
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-12 col-md-12 text-md-left">
      <b class="bbold" style="color:#fa8072;">July 2024</b>&nbsp;&nbsp;&nbsp;&nbsp;
      The preprint of our paper on <a href="https://www.researchgate.net/publication/381922998_Improving_Bengali_ASR_for_Regional_Dialects_with_IndicWav2Vec_A_Competition_Approach">ASR for regional dialects using indicWav2Vec</a> is now available!
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-12 col-md-12 text-md-left">
      <b class="bbold" style="color:#fa8072;">May 2024</b>&nbsp;&nbsp;&nbsp;&nbsp;
      Started my career as a Junior Software Engineer at REVE Systems! 
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-12 col-md-12 text-md-left">
      <b class="bbold" style="color:#fa8072;">Apr 2024</b>&nbsp;&nbsp;&nbsp;&nbsp;
      Our team Bekar has secured 5th position in the Datathon event of IUT 11th National ICT Fest 2024! 
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-12 col-md-12 text-md-left">
      <b class="bbold" style="color:#fa8072;">Mar 2024</b>&nbsp;&nbsp;&nbsp;&nbsp;
      Our research paper on <a href="https://ieeexplore.ieee.org/document/10534465">Bangladeshi Paper Currency Recognition</a> have been accepted at ICEEICT!
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-12 col-md-12 text-md-left">
      <b class="bbold" style="color:#fa8072;">Nov 2023</b>&nbsp;&nbsp;&nbsp;&nbsp;
      The preprint of our paper on <a href="https://arxiv.org/abs/2311.03792">Bangla text-to-ipa transcription</a> is now available! 
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-12 col-md-12 text-md-left">
      <b class="bbold" style="color:#fa8072;">Nov 2023</b>&nbsp;&nbsp;&nbsp;&nbsp;
      Our team phoneme secured 1st runner-up position in the DataVerse Challenge - ITVerse 2023! 
    </div>
  </div>
</div>
<p></p>

<!-- ========== Education ========== -->
<div class="docs-section" id="education">
  <h5>Education</h5>
        <!-- <div class="paper">
          <p class="title"><b>Language Technologies Institute, Carnegie Mellon University<b style="float:right;">Sep. 2024 - Present</b></b></p>
          
          <p>Ph.D. in Computer Science (Advisors: <a href="https://phontron.com/">Graham Neubig</a> and <a href="https://wellecks.com/">Sean Welleck</a>)</p>
          <p></p>
        </div> -->

        <!-- <div class="paper">
          <p class="title"><b>KAIST AI<b style="float:right;">Mar. 2023 - Aug. 2024</b></b></p>
          
          <p>M.S. in Artificial Intelligence (Advisor: <a href="https://seominjoon.github.io/">Minjoon Seo</a>)</p>
          <p></p>
        </div> -->
      
        <div class="paper">
          <p class="title"><b>Shahjalal University of Science and Technology<b style="float:right;">Jan. 2019 - Feb. 2024</b></b></p>
          
          <!-- <p>B.Sc. in Computer Science and Engineering (Advisor: <a href="https://www.sust.edu/departments/cse/faculty/rahmanms@sust.edu">Md. Shahidur Rahman</a>)</p> -->
          <p>Bachelor of Science (Engineering) in Computer Science and Engineering</p>
          <p>CGPA: 3.65/4.00;      [Last two years: CGPA: <b>3.73/4.00</b>]</p>
          <p></p>
          <p>(Advisor: <a href="https://www.sust.edu/departments/cse/faculty/rahmanms@sust.edu">Dr. Mohammad Shahidur Rahman</a>)</p>

          <p></p>
        </div>

        <!-- <div class="paper">
          <p class="title"><b>Govt. Ananda Mohan College<b style="float:right;">Jul. 2016 - Apr. 2018</b></b></p>
          
          <p>Higher Secondary in Science</p>
          <p></p>
        </div> -->
</div>

<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h5>Publications</h5>

  <!-- <p>Most recent publications on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.<br/> -->
  </p>

  <!-- <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul> -->

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <div class="row">
            <!--
            <div class="four columns">
              <div class="figure">
                <img src="{{ paper.image }}" width="100%">
              </div>
            </div>
            -->
            <div class="twelve columns">
              {% if paper.year %}
                <p><h5>{{ paper.year }}</h5><hr /></p>
              {% endif %}
              <p class="title"><b>{{ paper.title }}</b></p>
              <p>{{ paper.authors }}</p>
              <p><i>{{ paper.venue }}</i></p>
              <div class="paper-buttons">
                {% if paper.paper_pdf %}
                  <a class="button" href="{{ paper.paper_pdf }}" target="_blank">Paper</a>
                {% endif %}

                {% if paper.poster %}
                  <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
                {% endif %}

                {% if paper.video %}
                  <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
                {% endif %}

                {% if paper.code %}
                  <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
                {% endif %}
                
                {% if paper.slides %}
                  <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
                {% endif %}
                
                {% if paper.twitter %}
                  <a class="button" href="{{ paper.twitter }}" target="_blank">Twitter</a>
                {% endif %}
              </div>
            </div>
          </div>       
        </div>
      {% endfor %}
      <h6><b><i>( * indicates equal contribution )</i></b></h6>
    </div>
    
    <!-- <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
        <div class="paper">
          <div class="row">
            <div class="four columns">
              <div class="figure">
                <img src="{{ paper.image }}" width="100%">
              </div>
            </div>
            <div class="twelve columns">
              <p class="title"><b>{{ paper.title }}</b></p>
              <p>{{ paper.authors }}</p>
              <p><i>{{ paper.venue }}</i></p>
              <div class="paper-buttons">
                {% if paper.paper_pdf %}
                  <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
                {% endif %}
                {% if paper.poster %}
                  <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
                {% endif %}
                {% if paper.video %}
                  <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
                {% endif %}
                {% if paper.code %}
                  <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
                {% endif %}
                
                {% if paper.slides %}
                  <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
                {% endif %}
                {% if paper.twitter %}
                  <a class="button" href="{{ paper.twitter }}" target="_blank">Twitter</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
    </div> -->
    
</div>

<!-- ========== PROJECTS ========== -->
<!-- <div class="docs-section" id="projects">
  <h4>Projects</h4>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#projects-selected">Selected</div></li>
    <li><div class="button" data-ref="#projects-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="projects-selected">
      {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
      {% for project in selected_projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="projects-all">
      {% for project in site.data.projects.projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div> -->

<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Vitæ</h4>

  <p>Full CV in <a href={{ "/assets/cv/CV_jakir.pdf" | prepend: site.baseurl }} target="_blank">PDF</a>.</p>

  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

</div>
